# Godot 4+ specific ignores
.godot/
/android/
ButtonsTextures/AttackButton.aseprite
ButtonsTextures/AttackButton.svg
ButtonsTextures/AttackButton.svg.import
ButtonsTextures/AttackButtonHover.svg
ButtonsTextures/AttackButtonHover.svg.import
ButtonsTextures/AttackButtonPressed.svg
ButtonsTextures/AttackButtonPressed.svg.import
ButtonsTextures/DivideButton.svg
ButtonsTextures/DivideButton.svg.import
ButtonsTextures/DivideButtonHover.svg
ButtonsTextures/DivideButtonHover.svg.import
ButtonsTextures/DivideButtonPressed.svg
ButtonsTextures/DivideButtonPressed.svg.import
ButtonsTextures/MinusButton.aseprite
ButtonsTextures/MinusButton.svg
ButtonsTextures/MinusButton.svg.import
ButtonsTextures/MinusButtonHover.svg
ButtonsTextures/MinusButtonHover.svg.import
ButtonsTextures/MinusButtonPressed.svg
ButtonsTextures/MinusButtonPressed.svg.import
ButtonsTextures/PlusButton.svg
ButtonsTextures/PlusButton.svg.import
ButtonsTextures/PlusButtonHover.svg
ButtonsTextures/PlusButtonHover.svg.import
ButtonsTextures/PlusButtonPressed.svg
ButtonsTextures/PlusButtonPressed.svg.import
ButtonsTextures/SkipButton.aseprite
ButtonsTextures/SkipButton.svg
ButtonsTextures/SkipButton.svg.import
ButtonsTextures/SkipButtonHover.svg
ButtonsTextures/SkipButtonHover.svg.import
ButtonsTextures/SkipButtonPressed.svg
ButtonsTextures/SkipButtonPressed.svg.import
ButtonsTextures/TimesButton.svg
ButtonsTextures/TimesButton.svg.import
ButtonsTextures/TimesButtonHover.svg
ButtonsTextures/TimesButtonHover.svg.import
ButtonsTextures/TimesButtonPressed.svg
ButtonsTextures/TimesButtonPressed.svg.import
CardTextures/card.svg
CardTextures/card.svg.import
CardTextures/card_hover.svg
CardTextures/card_hover.svg.import
CardTextures/card_pressed.svg
CardTextures/card_pressed.svg.import
CombatTexture.aseprite
CombatTexture.svg
CombatTexture.svg.import
DivideButton.aseprite
EnemiesTextures/one_monster.svg
EnemiesTextures/one_monster.svg.import
EnemiesTextures/zero_monster.svg
EnemiesTextures/zero_monster.svg.import
EnemyBar.aseprite
EnemyBar.svg
EnemyBar.svg.import
EnemyHealth.aseprite
EnemyHealth.svg
EnemyHealth.svg.import
GameTitle.aseprite
GameTitle.svg
GameTitle.svg.import
HelvetiPixel.ttf
HelvetiPixel.ttf.import
icon.svg
icon.svg.import
LifeBars/PlayerBarProgress.svg
LifeBars/PlayerBarProgress.svg.import
LifeBars/PlayerBarUnder.svg
LifeBars/PlayerBarUnder.svg.import
one_monster.aseprite
PlusButton.aseprite
PlusButtonHover.aseprite
PlusButtonPressed.aseprite
scene.svg
scene.svg.import
TimesButton.aseprite
zero_monster.aseprite
PrimeiraCena.tscn18181417135.tmp
PrimeiraCena.tscn349894038.tmp
